[Unit]
Description=Deliverator

[Service]
ExecStart=/usr/local/bin/node client -c config.json
Restart=always
RestartSec=5
Group=gpio
WorkingDirectory=/home/pi/deliverator

[Install]
WantedBy=multi-user.target
