<!-- views/pages/index.ejs -->

<!DOCTYPE html>

<html lang="en">

  <head>
      <% include ../partials/head %>
      <link href='https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>
      <link href="style.css" rel="stylesheet" type="text/css">
  </head>

  <body>

      <main>

        <div class='container'>

          <p>Here is the index page</p>

        </div>

      </main>

      <footer>
          <% include ../partials/footer %>
      </footer>

  </body>

</html>
